NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

OPENAI_API_KEY=
OPENAI_ADMIN_KEY=

EBAY_CLIENT_ID=
EBAY_CLIENT_SECRET=
EBAY_ENVIRONMENT=production

SPORTSCARDSPRO_API_TOKEN=
SPORTSCARDSPRO_API_BASE_URL=https://www.sportscardspro.com

XIMILAR_API_KEY=
